body{
    background: #1E213F;
}

.active{
    width: 100%;
    border-radius: 26.5px;
    background: #f87070;
    color: #1e213f !important;
    padding: 18px 22px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 700;
}